<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta name="author" content="tan1812003@gmail.com" />

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/bower_components/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="~/able-pro/assets/pages/waves/css/waves.min.css" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/icon/feather/css/feather.css">


    <link rel="stylesheet" type="text/css" href="~/able-pro/bower_components/select2/css/select2.min.css" />
    <!-- light-box css -->
    <link rel="stylesheet" type="text/css" href="~/able-pro/bower_components/ekko-lightbox/css/ekko-lightbox.css">
    <link rel="stylesheet" type="text/css" href="~/able-pro/bower_components/lightbox2/css/lightbox.css">
    <!-- Treeview css -->
    <link rel="stylesheet" type="text/css" href="~/able-pro/bower_components/jstree/css/style.min.css" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/pages/treeview/treeview.css" />
    <!-- jquery file upload Frame work -->
    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/pages/jquery.filer/css/jquery.filer.css" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css" />
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="~/able-pro/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/pages/data-table/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" />


    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/icon/icofont/css/icofont.css" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/icon/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/assets/css/pages.css" />
    <link rel="stylesheet" type="text/css" href="~/able-pro/able-pro-custom.css" />
</head>
<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    <!-- [ Pre-loader ] end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- [ Header ] start -->
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!"><i class="feather icon-toggle-right"></i></a>
                        <a href="index.html"><img class="img-fluid" src="~/able-pro/assets/images/logo.png" alt="Theme-Logo" /></a>
                        <a class="mobile-options waves-effect waves-light"><i class="feather icon-more-horizontal"></i></a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="feather icon-x input-group-text"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn">
                                            <i class="feather icon-search input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <i class="full-screen feather icon-maximize"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-bell"></i>
                                        <span class="badge bg-c-red">5</span>
                                    </div>
                                    <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <h6>Notifications</h6>
                                            <label class="label label-danger">New</label>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="img-radius" src="~/able-pro/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">John Doe</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="img-radius" src="~/able-pro/assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">Joseph William</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="img-radius" src="~/able-pro/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">Sara Soudein</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-message-square"></i>
                                        <span class="badge bg-c-green">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="~/able-pro/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                        <span>John Doe</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="#!">
                                                <i class="feather icon-settings"></i> Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="user-profile.html">
                                                <i class="feather icon-user"></i> Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="email-inbox.html">
                                                <i class="feather icon-mail"></i> My Messages
                                            </a>
                                        </li>
                                        <li>
                                            <a href="auth-lock-screen.html">
                                                <i class="feather icon-lock"></i> Lock Screen
                                            </a>
                                        </li>
                                        <li>
                                            <a href="auth-normal-sign-in.html">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- [ Header ] end -->
            <!-- [ chat user list ] start -->
            <div id="sidebar" class="users p-chat-user showChat">
                <!-- . . . chat user list content hear . . .  -->
            </div>
            <!-- [ chat user list ] end -->
            <!-- [ chat message ] start -->
            <div class="showChat_inner">
                <!-- . . . chat user message content hear . . .  -->
            </div>
            <!-- [ chat message ] end -->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!-- [ navigation menu ] start -->
                    <partial name="_AdminMenu" />

                    <!-- [ navigation menu ] end -->
                    <div class="pcoded-content">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h4 class="m-b-10">Dashboard</h4>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index.html">
                                                    <i class="feather icon-home"></i>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#!">Dashboard</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <!-- [ page content ] start -->
                                        @RenderBody()
                                        <!-- [ page content ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ style Customizer ] start -->
                    <div id="styleSelector">
                        <!-- . . . Live Customizer hear . . .  -->
                    </div>
                    <!-- [ style Customizer ] end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="/able-pro/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="/able-pro/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="/able-pro/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="/able-pro/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="/able-pro/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <script type="text/javascript" src="~/able-pro/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/able-pro/assets/pages/waves/js/waves.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/modernizr/js/css-scrollbars.js"></script>


    <script type="text/javascript" src="~/able-pro/assets/pages/form-masking/autoNumeric.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/able-pro/assets/pages/wysiwyg-editor/js/tinymce.min.js"></script>
    <script type="text/javascript" src="~/able-pro/assets/pages/jquery.filer/js/jquery.filer.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/jstree/js/jstree.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/Sortable/js/Sortable.js"></script>
    <!-- light-box js -->
    <script type="text/javascript" src="~/able-pro/bower_components/ekko-lightbox/js/ekko-lightbox.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/lightbox2/js/lightbox.js"></script>
    <!-- data-table js -->
    <script type="text/javascript" src="~/able-pro/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/able-pro/assets/pages/data-table/js/jszip.min.js"></script>
    <script type="text/javascript" src="~/able-pro/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/able-pro/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/able-pro/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>


    <script type="text/javascript" src="~/able-pro/assets/js/pcoded.min.js"></script>
    <script type="text/javascript" src="~/able-pro/assets/js/vertical/vertical-layout.min.js"></script>
    <script type="text/javascript" src="~/able-pro/assets/js/script.min.js"></script>
    <script type="text/javascript" src="~/able-pro/able-pro-custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>